* {
	box-sizing: border-box;
	margin: 0px;
}

.container {
	background-image: url("2010-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.phone_img {
	position: relative !important;
	width: 0;
	height: 95%;
	bottom: -20%;
	right: 25.5%;
	pointer-events: none;
}
.phone_img img {
	height: 100%;
}

.computer_screen {
	width: 70%;
	height: 52.5%;
	margin-left: 0%;
	margin-bottom: 6%;
}
.computer_screen iframe {
	width: 1920px;
	height: 1080px;
}

.phone_screen {
	width: 16.078125%;
	height: 36.75%;
	margin-left: 3.7%;
	margin-right: 3.8%;
	margin-bottom: 0.2%;
}

.phone_screen iframe {
	width: 280px;
	height: 480px;
}
