:root {
	--drawer-bg-color: #757575;
	--drawer-border-color: black;
}

.screen iframe{
	background-color: white;
	border: 0;
	border-radius: 2px;
	position: relative;
}

.screen { 
	position: relative;
}

.container {
	height: 100dvh;
	width: 133.33333333333dvh;
	max-width: 100vw;
	max-height: 75vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #757575;
	flex: auto 0 0;
}

body, html {
	overflow: hidden;
	background-color: #000000;
	background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 15px 15px, linear-gradient(#3e3e3e 1.2000000000000002px, transparent 1.2000000000000002px) 0 -0.6000000000000001px, linear-gradient(90deg, #3e3e3e 1.2000000000000002px, #000000 1.2000000000000002px) -0.6000000000000001px 0;
	background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

nav {
        position: fixed;
        top: 0;
}

#frame, #phoneframe {
	transform-origin: top left;
}

#drawer {
	position: fixed;
	height: calc(100% - 40px);
	width: calc(100% + 6px);
	background-color: var(--drawer-bg-color);
	top: calc(100% - 10px);
	transition: top 1s;
	border: solid 3px var(--drawer-border-color);
	border-bottom: none;
	padding: 0px 8px 8px 8px;
	border-radius: 20px 20px 0px 0px;
	z-index: 99;
}

.dbcontainer {
	text-align: center;
	height: 8px;
}

.drawerbutton {
	transform: translateY(-100%);
	cursor: pointer;
	padding: 3px 20px 3px 20px;
	position: static;
	display: inline-block;
	text-align: center;
	background-color: var(--drawer-bg-color);
	border-radius: 15px 15px 0px 0px;
	border: solid 3px var(--drawer-border-color);
       	border-bottom: none;	
}
.drawerbutton::before {
	content: "";
	position: absolute;
	background-color: none;
	left: -10px;
	bottom: 0px;
	height: 7px;
	width: 7px;
	border: 3px solid var(--drawer-border-color);
	border-left: none;
	border-top: none;
	border-bottom-right-radius: 25px;
	box-shadow: 3px 3px 0 0 var(--drawer-bg-color);
}

.drawerbutton::after {
        content: "";
        position: absolute;
        background-color: none;
        right: -10px;
        bottom: 0px;
        height: 7px;
        width: 7px;
        border: 3px solid var(--drawer-border-color);
        border-right: none;
        border-top: none;
        border-bottom-left-radius: 25px;
        box-shadow: -3px 3px 0 0 var(--drawer-bg-color);
}

#arrow {
	transition: transform 1s;
}

.plus, .minus {
	z-index: 2;
	top: 0;
	right: 0;
	position: absolute;
	margin: 5px;
	font-size: 20px;
}
.minus {
	transform: translateX(-120%);
}
