.screen iframe{
	background-color: white;
	border: 0;
	border-radius: 2px;
}

body {
	height: 100dvh;
	width: 133.33333333333dvh;
	max-width: 100vw;
	max-height: 75vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #757575;
	flex: auto 0 0;
}

html {
	overflow: hidden;
	background-color: #000000;
	opacity: 0.9;
	background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 15px 15px, linear-gradient(#3e3e3e 1.2000000000000002px, transparent 1.2000000000000002px) 0 -0.6000000000000001px, linear-gradient(90deg, #3e3e3e 1.2000000000000002px, #000000 1.2000000000000002px) -0.6000000000000001px 0;
	background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

nav {
        position: fixed;
        top: 0;
}

#frame, #phoneframe {
	transform-origin: top left;
}

#drawer {
	position: fixed;
	height: 95%;
	width: 100%;
	background-color: red;
	top: calc(100% - 10px);
	transition: 1s;
	border-top: solid 3px black;
}

.dbcontainer {
	text-align: center;
	height: 0px;
}

.drawerbutton {
	transform: translateY(-100%);
	cursor: pointer;
	padding: 10px 20px 0px 20px;
	position: static;
	display: inline-block;
	text-align: center;
	background-color: red;
	border-radius: 5px 5px 0px 0px;
	border: solid 3px black;
       	border-bottom: none;	
}
.drawerbutton::before {
	content: "";
	position: absolute;
	background-color: none;
	left: -10px;
	bottom: 0px;
	height: 7px;
	width: 7px;
	border: 3px solid black;
	border-left: none;
	border-top: none;
	border-bottom-right-radius: 25px;
	box-shadow: 3px 3px 0 0 red;
}

.drawerbutton::after {
        content: "";
        position: absolute;
        background-color: none;
        right: -10px;
        bottom: 0px;
        height: 7px;
        width: 7px;
        border: 3px solid black;
        border-right: none;
        border-top: none;
        border-bottom-left-radius: 25px;
        box-shadow: -3px 3px 0 0 red;
}

