html {
	background-color: black;
}

    .star-five {
      background: transparent;
      margin: 50px 0;
      position: relative;
      display: block;
      color: #ffffff;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid #ffffff;
      border-left: 100px solid transparent;
      /* transform: rotate(35deg) scale(0.1) translate(-1450px, -250px); */
    }
    .star-five:before {
      border-bottom: 80px solid #ffffff;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      background-color: transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: '';
      transform: rotate(-35deg);
    }
    .star-five:after {
      background-color: transparent;
      position: absolute;
      display: block;
      color: #ffffff;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid #ffffff;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: '';
    }

.flashapp {
	background-color: blue;
	width: 800px;
	height: 600px;
	overflow: hidden;
	position: relative;
}

.tooltip {
	display: none;
	position: absolute;
	background-color: white;
	transform: translateY(-100%);
	min-width: 350px;
	min-height: 120px;
	max-width: 400px;
	max-height: 650px;
	box-sizing: border-box;
	border: 5px solid black;
	border-radius: 15px;
	padding: 8px;
	z-index: 999;
}

.button {
	background-color: white;
	display: inline-block;
	padding: 20px;
	border-radius: 9999999px;
	border: 5px solid black;
	position: absolute;
	width: auto;
	cursor: pointer;
}
.button:hover {
	transform: scale(1.2);
}
.button:hover + .tooltip, .tooltip:hover {
	display: inline-block;
}

.what {
	left: 20%;
	top: 60%;
}

.con {
	left: 50%;
	top: 70%;
}

.impact {
	left: 30%;
	top: 20%;
}

.impact.tooltip {
	transform: translateY(calc(50px + 1em));
}
